<div class="profile-grid-container">
  <div class="column d-flex flex-column justify-content-center align-items-center" style="background-color: #f4f3eb; height: calc(100vh - 60px);">
    <div class="content">
      <% if @user == current_user %>
        <p><%= link_to 'Edit', edit_user_registration_path, class: "btn btn-primary btn-round" %></p>
      <% end %>
    </div>
    <%= image_tag user_avatar(@user), class: "w-50 h-auto rounded-circle mb-4"%>
    <div class="content">
      <h2><%= @user.full_name %></h2>
      <p>Joined: <%= @user.created_at %></p>
      <% if @user.age %>
        <p>Age: <%= @user.age %></p>
      <% end %>

      <% if @user.gender %>
        <p>Gender: <%= @user.gender %></p>
      <% end %>
      <p><strong>Contact</strong></p>
      <p>Email: <%= @user.email %><br>
      Phone number: <%= @user.phone_number %></p>
    </div>
  </div>
  <div class="column d-flex flex-column justify-content-center align-items-center" style="background-color: white; height: calc(100vh - 60px);">
    <h4>Colonies</h4>
    <% @user.colonies.each do |colony| %>
      <%= link_to colony.name, colony_path(colony) %>
      <% if @user.admin_groups.include?(colony) %>
        <span style="background-color: #66615b; color:white; font-size: 12px; text-transform: uppercase; padding: 5px;">
          <p>admin</p>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
