<% event_cats.each do |cat| %>
  <div class="cat-update-card update-grid-container shadow-sm d-flex justify-content-center align-items-center pt-3" style="border-radius: 10px; display:grid; grid-template-columns: 1fr 2fr 1fr; position: relative;">

    <div class="column">
        <div class="content d-flex justify-content-center align-items-center" style="position: absolute; left: 5px; top: 50px;">
          <% if policy(cat).update? %>
            <% unless cat.status == Cat.statuses.keys.first %>
                <%= simple_form_for cat, remote: true do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: Cat.statuses.keys[Cat.statuses.keys.index(cat.status) - 1] } %>
                  <%= hidden_field_tag :event_id, @event.id %>
                  <%= button_tag(type: 'submit', class: 'hover-teal move-status btn btn-next mr-3') do %>
                    <i class="fas fa-chevron-left hover-teal"></i>
                    <p>Back</p>
                  <% end %>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

    <div class="column">
      <div class="text d-flex flex-column" style="position: relative">
        <div class="content">
          <p style="border-bottom: 1px solid #eee; margin-left: 11px;"><strong><%= link_to cat.name, cat_path(cat) %></strong></p>
        </div>

        <div class="content d-flex justify-content-between align-items-center" style="width: 600px;">
          <% if cat.all_changes == {} || cat.versions.empty? || cat.last_version.whodunnit.nil? %>
            <%= image_tag cat.photo.url, class: 'img-size' %>
            <p class="cat-update">No updates to show for <%= link_to cat.name, cat_path(cat) %>.</p>
          <% elsif cat.last_version.event == 'update' %>
            <%= image_tag cat.photo.url, class: 'img-size' %>

              <div class="text d-flex flex-column">
                <p style="line-height: 0;"><% cat.all_changes.each do |attribute, change| %>
                  <% change[0] = "at vet" if change[0] == "at_vet" %>
                  <strong><%= User.find(cat.last_version.whodunnit).full_name %></strong> updated <strong><%= attribute %></strong> from <strong>"<%= change[0] %>"</strong> to <strong>"<%= change[1] %>"</strong>.</p>
                <% end %>
                <div class="update-time text-right">
                  <p style="color: #66615b; font-size: 12px; text-transform: uppercase;"><%= cat.last_updated.strftime("%-l:%M %p, #{cat.last_updated.day.ordinalize} %B %Y") %></p>
                </div>
              </div>

            <% elsif cat.last_version.event == 'create' %>
              <p class="cat-update"><%= User.find(cat.last_version.whodunnit).full_name %> added a new cat <%= link_to cat.name, cat_path(cat) %>.</p>
            <% elsif cat.last_version.event == 'destroy' %>
              <p class="cat-update"><%= User.find(cat.last_version.whodunnit).full_name %> removed <%= link_to cat.name, cat_path(cat) %> from the database.</p>
            <% end %>
          </div>
      </div>
    </div>

    <div class="column">
      <div class="content"  style="position: absolute; right: 5px; top: 50px;">
        <% if policy(cat).update? %>
          <% unless cat.status == Cat.statuses.keys[4] %>
            <%= simple_form_for cat, remote: true do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: Cat.statuses.keys[Cat.statuses.keys.index(cat.status) + 1] } %>
              <%= hidden_field_tag :event_id, @event.id %>
              <%= button_tag(type: 'submit', class: 'hover-teal move-status btn btn-next ml-4') do %>
                <i class="fas fa-chevron-right hover-teal"></i>
                <% if cat.status === 'spotted' %>
                  <p>Trap</p>
                <% elsif cat.status === 'trapped' %>
                  <p>Vet</p>
                <% elsif cat.status === 'at_vet' %>
                  <p>Neuter</p>
                <% elsif cat.status === 'neutered' %>
                  <p>Release</p>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div style="position: absolute; top: 5px; right: 5px;">
        <% if policy(cat).update? %>
            <button type="button" class="hover-teal btn btn-next mt-3 mr-2" data-toggle="modal" data-target="<%= "#catModal_#{cat.id}" %>"><i class="hover-teal fas fa-edit"></i></button>
        <% end %>
      </div>
    </div>
  </div>

  <div id="<%= "catModal_#{cat.id}" %>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><%= cat.name %></h4>
          <button id="<%= "modal-close-#{cat.id}" %>" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= render 'cats/form', colony: @event.colony, cat: cat %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
