<div class="progress-container" id="progress-bar">
  <h4> Progress </h4>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="min-width: 100px;"></div>
    <p id="event-phase"><%= event.phase %></p>
  </div>

  <div class="update-buttons">
    <% if policy(@event).update? %>
      <% if @event.phase == Event.phases.keys[0] %>
        <%= simple_form_for [colony, event], remote: true do |f| %>
          <%= f.input :phase, as: :hidden, input_html: { value: Event.phases.keys[1] } %>
          <%= f.submit 'Neuter', class: "btn btn-success" %>
        <% end %>
      <% end %>

      <% if @event.phase == Event.phases.keys[1] %>
        <div class="d-flex">
          <%= simple_form_for [colony, event], remote: true do |f| %>
            <%= f.input :phase, as: :hidden, input_html: { value: Event.phases.keys[0] } %>
            <%= f.submit 'Trap', class: "btn btn-warning" %>
          <% end %>
          <%= simple_form_for [colony, event], remote: true do |f| %>
            <%= f.input :phase, as: :hidden, input_html: { value: Event.phases.keys[2] } %>
            <%= f.submit 'Release', class: "btn btn-success" %>
          <% end %>
        </div>
      <% end %>

      <% if event.phase == Event.phases.keys[2] %>
        <div class="d-flex">
          <%= simple_form_for [colony, event], remote: true do |f| %>
            <%= f.input :phase, as: :hidden, input_html: { value: Event.phases.keys[1] } %>
            <%= f.submit 'Neuter', class: "btn btn-warning" %>
          <% end %>
          <%= simple_form_for [colony, event], remote: true do |f| %>
            <%= f.input :phase, as: :hidden, input_html: { value: Event.phases.keys.last } %>
            <%= f.submit 'Complete', class: "btn btn-success" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
