<div class="tab-content updates-cats" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-spotted" role="tabpanel" aria-labelledby="nav-spotted-tab">
    <% if event.colony.cats.where(status: 0).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 0) %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-trapped" role="tabpanel" aria-labelledby="nav-trapped-tab">
    <% if event.colony.cats.where(status: 1).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 1) %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-at-vet" role="tabpanel" aria-labelledby="nav-at-vet-tab">
    <% if event.colony.cats.where(status: 2).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 2) %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-neutered" role="tabpanel" aria-labelledby="nav-neutered-tab">
    <% if event.colony.cats.where(status: 3).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 3) %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-released" role="tabpanel" aria-labelledby="nav-released-tab">
    <% if event.colony.cats.where(status: 4).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 4) %>
    <% end %>
  </div>
