<h4 class="mb-3 pb-2" style="border-bottom: solid 3px #f5593d;">Updates</h4>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-spotted-tab" data-toggle="tab" href="#nav-spotted" role="tab" aria-controls="nav-home" aria-selected="true">Spotted</a>
    <a class="nav-item nav-link" id="nav-trapped-tab" data-toggle="tab" href="#nav-trapped" role="tab" aria-controls="nav-profile" aria-selected="false">Trapped</a>
    <a class="nav-item nav-link" id="nav-at-vet-tab" data-toggle="tab" href="#nav-at-vet" role="tab" aria-controls="nav-contact" aria-selected="false">At vet</a>
    <a class="nav-item nav-link" id="nav-neutered-tab" data-toggle="tab" href="#nav-neutered" role="tab" aria-controls="nav-contact" aria-selected="false">Neutered</a>
    <a class="nav-item nav-link" id="nav-released-tab" data-toggle="tab" href="#nav-released" role="tab" aria-controls="nav-contact" aria-selected="false">Released</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-spotted" role="tabpanel" aria-labelledby="nav-spotted-tab">
    <% if event.colony.cats.where(status: 0).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 0) %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-trapped" role="tabpanel" aria-labelledby="nav-trapped-tab">
    <% if event.colony.cats.where(status: 1).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 1) %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-at-vet" role="tabpanel" aria-labelledby="nav-at-vet-tab">
    <% if event.colony.cats.where(status: 2).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 2) %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-neutered" role="tabpanel" aria-labelledby="nav-neutered-tab">
    <% if event.colony.cats.where(status: 3).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 3) %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-released" role="tabpanel" aria-labelledby="nav-released-tab">
    <% if event.colony.cats.where(status: 4).empty? %>
      <p>No cats to show.</p>
    <% else %>
      <%= render 'events/event_cats', event_cats: event.colony.cats.where(status: 4) %>
    <% end %>
  </div>
</div>
