<h4 class="mb-3 pb-2" style="border-bottom: solid 3px #f5593d;">Live updates</h4>
<% event.colony.cats.each do |cat| %>
  <% if cat.all_changes == {} || cat.versions.empty? || cat.last_version.whodunnit.nil? %>
    <p><i class="fas fa-cat p-2 mr-2" style="background-color: #fbc658; border-radius: 10px;"></i> No updates to show for <%= link_to cat.name, cat_path(cat) %>.</p>
  <% elsif cat.last_version.event == 'update' %>
    <% cat.all_changes.each do |attribute, change| %>
      <p><%= User.find(cat.last_version.whodunnit).full_name %> updated <%= link_to cat.name, cat_path(cat) %>'s <%= attribute %> from <%= change[0] %> to <%= change[1] %> at <%= cat.last_updated.strftime("%-l:%M %p, #{cat.last_updated.day.ordinalize} %B %Y") %>.</p>
    <% end %>
  <% elsif cat.last_version.event == 'create' %>
    <p><%= User.find(cat.last_version.whodunnit).full_name %> added a new cat <%= link_to cat.name, cat_path(cat) %> at <%= cat.last_updated.strftime("%-l:%M %p, #{cat.last_updated.day.ordinalize} %B %Y") %>.</p>
  <% elsif cat.last_version.event == 'destroy' %>
    <p><%= User.find(cat.last_version.whodunnit).full_name %> removed <%= link_to cat.name, cat_path(cat) %> from the database.</p>
  <% end %>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="<%= "#catModal_#{cat.id}" %>">Edit</button>
  <div id="<%= "catModal_#{cat.id}" %>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= cat.name %></h4>
        </div>
        <div class="modal-body">
          <%= render 'cats/form', colony: event.colony, cat: cat %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
