<div class="banner d-flex" style= "background-image: url(<%= image_url("sniff.jpg") %>); height: calc(100vh - 120px); background-size: cover; background-position: bottom" >

  <div class="banner-content d-flex flex-column" style="background-color: #f4f3eb; height:100%; margin-left: 100px;">
    <div class="banner-content p-5 d-flex flex-column justify-content-end shadow-sm" style= "background-color: white; height: calc(100vh - 250px)">
      <div class="banner-content mb-3">
        <h1>CATCH</h1>
        <h4 class= "pb-2" style="border-bottom: solid 3px #f5593d;">THE TNR PLATFORM</h4>
        <h6><%= Cat.all.length %> cats tracked</h6>
      </div>

      <%= form_tag colonies_path, method: :get do %>
        <div class="d-flex align-items-center">
          <%= text_field_tag :query, params[:query], placeholder: "Enter an address", class: "form-control mr-2" %>
          <%= submit_tag "Find a colony", class: "btn btn-danger m-0" %>
        </div>
      <% end%>
      <a href="#tnr">Learn more</a>
    </div>
  </div>
</div>
<div id="tnr">
  <div class="tnr-description">
    <h2 class="text-center">What is TNR?</h2>
    <p>asdkjfalsdfjhalsdfgalsdfghajkshfgjkasfgdkj</p>
  </div>
  <div class="tnr-cards d-flex flex-wrap align-items-center justify-content-around">
    <div class="tnr-card">
      <h2 class="text-center">Trap</h2>
      <p>description</p>
    </div>
    <div class="tnr-card">
      <h2 class="text-center">Neuter</h2>
      <p>description</p>
    </div>
    <div class="tnr-card">
      <h2 class="text-center">Release</h2>
      <p>description</p>
    </div>
  </div>
  <%= link_to 'Create a colony', new_colony_path %>
</div>
