<div class="banner d-flex" style= "background-image: url(<%= image_url("sniff.jpg") %>); height: calc(100vh - 66px); background-size: cover; background-position: bottom" >

  <div class="banner-content d-flex flex-column" style="background-color: #f4f3eb; height:100%; margin-left: 100px;">
    <div class="banner-content p-5 d-flex flex-column justify-content-end shadow-sm" style= "background-color: white; height: calc(100vh - 250px)">
      <div class="banner-content mb-3">
        <h1>CATCH</h1>
        <h4 class= "pb-2" style="border-bottom: solid 3px #f5593d;">THE TNR PLATFORM</h4>
        <h5><%= Cat.all.length %> cats tracked</h5>
      </div>

      <%= form_tag colonies_path, method: :get do %>
        <div class="d-flex align-items-center">
          <%= text_field_tag :query, params[:query], placeholder: "Enter an address", class: "form-control mr-2" %>
          <%= submit_tag "Find a colony", class: "btn btn-danger m-0" %>
        </div>
      <% end%>
      <div class="content mt-2">
        <a href="#tnr">Learn more</a>
      </div>
    </div>
  </div>
</div>
<div id="tnr">
  <div class="tnr-description">
    <h2 class="text-center mb-4" style="padding-top: 70px;"><span style="width: 300px; border-bottom: solid 2px red;">What is TNR?</span></h2>
    <div class="container text-center mt-3" style= "width: 700px; padding-bottom: 50px;">
      <h5> Trap-Neuter-Return, or "TNR," is the most humane and effective method known for managing feral and stray cats and reducing their numbers. </h5>
    </div>
  </div>

  <div data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
  >

  <div class="tnr-cards d-flex flex-wrap align-items-center justify-content-around">
    <div class="card tnr-card shadow d-flex flex-column align-items-center" style="padding: 50px; width: 300px; height: 400px; border-radius: 10px;">
      <div class="content mt-4">
        <img src="https://img.icons8.com/pastel-glyph/64/000000/cat-cage--v4.png" height="40" width="40">
      </div>
      <h3 class="text-center pb-2 mt-4" style="border-bottom: solid 2px red;">Trap</h3>
      <p style="padding-top: 10px; text-align: left;">
      The cats, who typically live together in a group called a colony, are trapped and brought to a veterinary clinic.</p>
    </div>

    <div class="card tnr-card shadow d-flex flex-column align-items-center" style="padding: 50px; width: 300px; height: 400px; border-radius: 10px;">
      <div class="content mt-4">
        <img src="https://img.icons8.com/wired/64/000000/hospital.png" height="40" width="40">
      </div>
      <h3 class="text-center pb-2 mt-4" style="border-bottom: solid 2px red;">Neuter</h3>
      <p style="padding-top: 10px; text-align: left;">They're then spayed or neutered, vaccinated for rabies where appropriate and eartipped. </p>
    </div>

    <div class="card tnr-card shadow d-flex flex-column align-items-center" style="padding: 50px; width: 300px; height: 400px; border-radius: 10px;">
      <div class="content mt-4">
        <img src="https://img.icons8.com/pastel-glyph/64/000000/cat-cage--v3.png" height="40" width="40">
      </div>
      <h3 class="text-center pb-2 mt-4" style="border-bottom: solid 2px red;">Release</h3>
      <p style="padding-top: 10px; text-align: left;">After they've recovered from their surgeries, the cats are returned back to their original territory where a caretaker provides regular food and shelter.</p>
    </div>
    </div>
    <div class= "content" style="padding-top: 100px;">
        <h4 class="text-center">Make a difference today.</h4>
    </div>
  <div class="space-bottom d-flex justify-content-center mb-4" style="padding-bottom: 100px;">

    <%= link_to 'Create a colony', new_colony_path, class: "btn btn-success my-3" %>
  </div>
</div>
