<h1> Catch UI Kit </h1>

<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>

<p>Body font</p>

<%= link_to "Primary", root_path, class: "btn btn-primary btn-round" %>

<%= link_to "Warning", root_path, class: "btn btn-warning btn-round"%>

<%= link_to "Info", root_path, class: "btn btn-info btn-round" %>

<%= link_to "Success", root_path, class: "btn btn-success btn-round" %>

<%= link_to "Danger", root_path, class: "btn btn-danger btn-round" %>

<%= link_to "Search", root_path, class: "btn btn-search btn-round" %>

<%= link_to "Back", root_path, class: "btn btn-search btn-round" %>

<%= link_to "Next", root_path, class: "btn btn-search btn-round" %>

<%= link_to "Add Image", root_path, class: "btn btn-outline btn-round" %>

<%= link_to "Learn more", root_path, class: "btn-link" %>

<div class="container">
  <textarea class="form-control border-input" placeholder="This is a textarea with border. Here can be your nice text" rows="3"></textarea>
</div>

<div class="form-group">
  <input type="text" value="" placeholder="Input" class="form-control no-border">
</div>

<h4>Icons</h4>

<i class="fas fa-search"></i>
<i class="fas fa-heart"></i>
<i class="fas fa-heart" style="color: #f5593d"></i>

<img src="https://img.icons8.com/cotton/64/000000/cat-footprint--v1.png">

<img src="https://img.icons8.com/pastel-glyph/64/000000/cat-footprint.png">

<img src="https://img.icons8.com/cotton/64/000000/cat-footprint--v2.png">

<h4>Cards</h4>

<div class="card map-card" style="width: 14em">
  <img class="card-img" src="https://res.cloudinary.com/db5spdngu/image/upload/v1566282924/sleeping_ttkyfp.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title"> Card Title </h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn-link">Learn more</a>
  </div>
</div>

<div class="card event-card" style="width: 30em">
  <div class="card-body">
    <h4 class="card-title"> Card Title </h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn-link red-card">Learn more</a>
  </div>
</div>

<div class="card join-card" style="width: 30em">
  <div class="card-body">
    <h4 class="card-title"> Trapping Event </h4>
    <h5 class="card-subtitle"> 9:30 AM to 10:30AM </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <%= link_to "Join", root_path, class: "btn btn-success btn-round" %>
  </div>
</div>

<div class="card members-list-card" style="width: 30em">
  <div class="card-body">
    <h5 class="card-title"> Members List </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <%= link_to "Invite", root_path, class: "btn btn-primary btn-round" %>
  </div>
</div>

<div class="card confirm-card" style="width: 30em">
  <div class="card-body">
    <h5 class="card-title"> You have joined the group successfully </h5>
    <%= link_to "OK", root_path, class: "btn btn-primary btn-round" %>
  </div>
</div>


