<div id="cat-map">
  <% if params[:location].nil? %>
    <h4 class="search-cats-title">All cats (<%= cats.length %>)</h4>
  <% else %>
    <h4 class="search-cats-title">Cats near <%= params[:location].capitalize %> (<%= cats.length %>)</h4>
  <% end %>
  <% if cats.empty? %>
    <p>No cats found.</p>
  <% else %>
    <div class="d-flex my-4" style="height: 100vh">
      <div class="sighted-cats p-3" style = "background-color: #f4f3eb; overflow-y: scroll; width: 250px">
        <% cats.each do |cat| %>
          <div class="sighted-cat sighted-cat-card d-flex justify-content-around align-items-center my-3 p-3">
            <div class="checkbox-list">
              <%= check_box_tag 'colony[cat_ids][]', cat.id %>
            </div>
            <div class="cat-name">
              <p class="m-0"><%= cat.name %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div
        id="map"
        style="width: 100%;
        height: 100%;"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  <% end %>
</div>
