<div class="card" style="width: 15rem;">
  <%= image_tag cat.photo.url, class: 'card-image' %>
  <div class="card-body">
    <p class="card-title"><%= cat.name %></p>
    <p class="card-text">Age: <%= cat.age %></p>
    <p class="card-text">Sex: <%= cat.sex %></p>
    <p class="card-text">Description: <%=cat.description %></p>
  </div>
</div>
