<%= simple_form_for colony, remote: false do |f| %>
  <%= f.input :name %>
  <%= f.input :address, label: 'Area' %>

  <%= render 'cat_map', cats: @cats %>

  <%= f.input :radius, label: 'Radius (km)' %>
  <%= f.input :description, as: :text %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <div class="colony-buttons d-flex justify-content-between">
    <div>
      <%= link_to 'Cancel', root_path, class: "btn btn-danger" %>
    </div>
    <% if colony.id.nil? %>
      <div>
        <%= f.submit 'Create', class: "btn btn-success" %>
      </div>
    <% else %>
      <div>
        <%= f.submit 'Update', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>

