<div class="card" style="width: 15rem;">
  <%= image_tag cat.photo.url, class: 'card-image' %>
  <div class="card-body" style=>
    <p class="card-title"><%= cat.name %></h6>
    <p class="card-text">
    Age: <%= cat.age %><br>
    Sex: <%= cat.sex %><br>
    Description: <%=cat.description %></p>
  </div>
</div>
