<div class="container my-5">
  <div class="form-container new-colony-form d-flex flex-column justify-content-center m-auto">
    <div class="header-container pt-5 pb-3 text-center">
      <h4>Create a new colony</h4>
    </div>
    <div class="content-container p-5">
      <%= form_tag search_cats_path, method: :get, remote: true do %>
        <%= text_field_tag :location,
          params[:location],
          style: 'display: none'
        %>
        <%= submit_tag '', style: 'display: none', class: 'submit-button' %>
      <% end %>
      <%= render 'form', colony: @colony %>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'search_cats' %>
<% end %>
