<h2><%= @colony.name %></h2>
<% if policy(@colony).update? %>
  <p><%= link_to 'Edit', edit_colony_path(@colony) %></p>
<% end %>
<% if policy(@colony).destroy? %>
  <p><%= link_to 'Delete', colony_path(@colony), method: :delete, data: { confirm: 'Permanently delete this colony?' } %></p>
<% end %>

<h3>About this colony</h3>
<p><%= @colony.description %></p>
<p>Admin: <%= @colony.admins.map { |admin| admin.full_name }.join(', ') %></p>
<p>Cats (<%= @colony.cats.length %>)</p>
<p>Members (<%= @colony.users.length %>)</p>
<p>Founded: <%= @colony.created_at %></p>

<h3>Events</h3>
<% if policy(@event).create? %>
  <p><%= link_to 'Create new event', new_colony_event_path(@colony) %></p>
<% end %>
<% @colony.events.each do |event| %>
  <p><%= link_to event.title, event_path(event) %></p>
<% end %>

<h3>Cats</h3>
<% if policy(@cat).create? %>
  <p><%= link_to 'Add a cat', new_colony_cat_path(@colony) %></p>
<% end %>

<% @colony.cats.each do |cat| %>
  <p><%= link_to cat.name, cat_path(cat) %></p>
  <p><%= cat.status %></p>
<% end %>
