<div class="container">
  <div class="container d-flex justify-content-around mx-auto mt-5">
    <div class="container">
      <h2><%= @colony.name %></h2>
    </div>
    <div class="container d-flex justify-content-end">
      <% if policy(@colony).update? %>
        <%= link_to 'Edit', edit_colony_path(@colony), class: "btn btn-primary" %>
      <% end %>
      <% if policy(@association).create? %>
        <%= simple_form_for [@colony, @association] do |f| %>
          <%= f.submit 'Join', class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <% if policy(@association).destroy? %>
        <%= link_to 'Leave', association_path(@association), method: :delete, data: { confirm: 'Leave this group?'}, class: "btn btn-danger mx-1" %>
      <% end %>
      <% if policy(@colony).destroy? %>
        <%= link_to 'Delete', colony_path(@colony), method: :delete, data: { confirm: 'Permanently delete this colony?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <div class="grid-container m-4">
    <div class="column p-4" style="background-color: white; border-radius: 10px">
      <h4 class="mb-4">About this colony</h4>
      <div class="content p-3" style="background-color: #f7f5e6; border-radius: 10px;">

        <p>Founded: <%= @colony.created_at.strftime("%-d %B %Y") %></p>
        <p><%= @colony.description %></p>

<!-- working on incorporating
 -->

      <div class="card d-flex flex-row m-3 justify-content-around p-4" style="text-align: center; background: none; border-radius: 10px;">
        <div class="box-content">
          <h4><%= @colony.cats.length %></h4><h6><strong>Cats</strong></h6>
          <h4><i class="fas fa-paw"></i><h4>
        </div>
        <div class="box-content">
          <h4><%= @colony.users.length %></h4><h6><strong>Members</strong></h6>
          <h4><i class="fas fa-user-circle"></i></h4>
        </div>
      </div>
    </div>

    <!-- member section -->

      <div class="d-flex justify-content-between mt-5 mb-3">
        <div class="content">
          <h4>Members</h4>
        </div>
      </div>
      <div class="content p-3" style="background-color: #f7f5e6; border-radius: 10px;">
        <% @colony.users.each do |user| %>
          <div class="update-grid-container py-2 my-2 shadow-sm" style="background-color: white; border-radius: 10px;">
            <div class="column d-flex ml-2 align-items-center justify-content-center">
              <div class="card-content">
                <%= image_tag user_avatar(user), class: "ml-2 w-100 h-auto rounded-circle"%>
              </div>
            </div>
            <div class="column d-flex flex-column justify-content-center mt-3 ml-2">
              <p><%= link_to user.full_name, user_path(user) %></p>
            </div>
            </div>
        <% end %>
        <div class="content d-flex justify-content-end">
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#membersModal">All Members</button>
        </div>
      </div>

      <div id="<%= "membersModal" %>" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title p-3 pl-4">Members of <%= @colony.name %></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <% @colony.users.each do |user| %>
                <div class="card shadow-sm">
                  <div class="member-grid-container" style="display:grid; grid-template-columns: 1fr 2fr; background-color: #f4f3eb">
                    <div class="column mt-2">
                      <%= image_tag user_avatar(user), class: "ml-3 w-75 h-auto my-3 rounded-circle"%>
                    </div>
                    <div class="column mt-4">
                      <p><%= link_to user.full_name, user_path(user) %></p>
                      <% if user_signed_in? %>
                        <% if current_user.colonies.include?(@colony) %>
                          <p><i class="fas fa-phone mr-2"></i> <%= user.phone_number %></p>
                          <p><i class="far fa-envelope mr-2"></i><%= user.email %></p>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <!-- cat section -->

      <div class="d-flex justify-content-between mt-5 mb-3">
        <div class="content">
          <h4>Cats</h4>
        </div>
        <div class="content">
          <% if policy(@cat).create? %>
            <%= link_to '+ Add a cat', new_colony_cat_path(@colony), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
      <div class="content p-3" style="background-color: #f7f5e6; border-radius: 10px;">
        <% @colony.cats.each do |cat| %>
          <div class="container d-flex py-2 my-2 shadow-sm" style="background-color: white; border-radius: 10px; position: relative;">
            <div class="content mt-2">
              <%= image_tag cat_photo(cat), class: 'rounded-circle thumbnail' %>
            </div>
            <div class="content mt-2 ml-4">
              <div class="button" style="position: absolute; right: 10px; top: 10px;">
                <%= link_to edit_cat_path(cat) do %>
                <i class="fas fa-edit"></i>
                <%end%>
              </div>
              <p><%= link_to cat.name, cat_path(cat) %><br>
              Status: <%= cat.status %></p>
            </div>
         </div>
        <% end %>
      <div class="content d-flex justify-content-end">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#catsModal">All Cats</button>
      </div>
     </div>
    </div>

    <div id="<%= "catsModal" %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pl-5">Cats of <%= @colony.name %></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body text-center mt-2">
            <% @colony.cats.each do |cat| %>
              <p><%= link_to cat.name, cat_path(cat) %></p>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="column p-4" style="background-color: white; border-radius: 10px">
      <div class="d-flex justify-content-between">
        <div class="content">
          <h4>Events</h4>
        </div>
        <div class="content">
          <% if policy(@event).create? %>
            <%= link_to '+ Create new event', new_colony_event_path(@colony), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>

     <!--  event list -->

      <% @colony.events.each do |event| %>
        <div class="card join-card d-flex my-4 shadow align-items-center text-center" style="width: 40em;">
            <div class="card-body mt-2">
              <h4 class="card-title"> <%=event.title %> </h4>
              <h5 class="card-subtitle"> <%=event.start.strftime("%-d %B %Y") %> to <%=event.end.strftime("%-d %B %Y") %> </h5>
              <p class="card-text"><%=event.description %></p>
              <%= link_to "Details", event_path(event), class: "btn btn-success btn-round" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
