<%= simple_form_for [colony, cat] do |f| %>
  <% if cat.photo.url %>
    <%= cl_image_tag cat.photo, class: "img-thumbnail" %>
  <% end %>
  <input type="file" id="file" accept="image/*" capture="camera" name="cat[photo]" />
  <label for="file"><i class="fas fa-camera"> Snap a picture!</i></label>
  <%= f.input :photo, label: 'Upload photo' %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="d-flex justify-content-between">
    <%= f.input :name, hint: 'Give a nickname!' %>
    <% sexes = [[('<i class="fas fa-mars"></i>').html_safe, Cat.sexes.keys[0]], [('<i class="fas fa-venus"></i>').html_safe, Cat.sexes.keys[1]], [('<i class="fas fa-question"></i>').html_safe, Cat.sexes.keys[2]]] %>
    <%= f.input :sex, as: :radio_buttons, collection: sexes, wrapper: :vertical_collection_inline %>
  </div>
  <%= f.input :description %>
  <%= f.input :address, label: 'Last sighted at' %>
  <% unless cat.colony.nil? %>
    <%= f.input :status, collection: Cat.statuses.keys %>
    <div class="vet-container mx-1 my-5 p-3" style=" border-radius: 10px; background-color: #f4f3eb;">
      <h5>For vet use</h5>
      <%= f.input :age, label: 'Age (years)' %>
      <%= f.input :health %>
      <%= f.input :microchip_id, label: 'Microchip ID (if known)' %>
      <%= f.input :colony_id, as: :hidden, input_html: { value: cat.colony.id } %>
      <% if @event %>
        <%= hidden_field_tag :event_id, @event.id %>
      <% end %>
    <% end %>
    </div>
  <div class="content mb-4 mx-5 d-flex justify-content-between">
    <%= link_to "Back", root_path, class: "btn btn-search" %>
  <% if cat.id.nil? %>
    <%= f.submit 'Add', class: "btn btn-success" %>
  <% else %>
    <%= f.submit 'Update', class: "btn btn-success" %>
  <% end %>
  </div>
<% end %>

<%# test on mobile - ngrok (connect to localhost on phone) %>
<%# how to take input from camera -> database (safari) - need iphone cord %>
