<%= simple_form_for [colony, cat] do |f| %>
  <%= f.input :name, hint: 'Give a nickname!' %>
  <%= f.input :sex, as: :radio_buttons, collection: Cat.sexes.keys, wrapper: :vertical_collection_inline %>
  <%= f.input :description %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :address, label: 'Sighted at' %>
  <% unless cat.colony.nil? %>
    <%= f.input :status, collection: Cat.statuses.keys %>
    <%= f.input :age, label: 'Age (years)' %>
    <%= f.input :health %>
    <%= f.input :microchip_id, label: 'Microchip ID (if known)' %>
    <%= f.input :colony_id, as: :hidden, input_html: { value: cat.colony.id } %>
  <% end %>
  <div class="content d-flex justify-content-between">
    <%= link_to "Back", root_path, class: "btn btn-search" %>
  <% if cat.id.nil? %>
    <%= f.submit 'Add', class: "btn btn-success" %>
  <% else %>
    <%= f.submit 'Update', class: "btn btn-success" %>
  <% end %>
  </div>
<% end %>

