<h2><%= @cat.name %></h2>
<% if @cat.colony.nil? %>
  <p>This cat does not belong to any colony yet.</p>
<% else %>
  <p>Belongs to <%= link_to @cat.colony.name, colony_path(@cat.colony) %></p>
<% end %>
<p>Current status: <%= @cat.status %></p>

<% if policy(@cat).update? %>
  <p><%= link_to 'Edit', edit_cat_path(@cat) %></p>
<% end %>
<% if policy(@cat).destroy? %>
  <p><%= link_to 'Delete', cat_path(@cat), method: :delete, data: { confirm: "Permanently remove #{@cat.name}?" } %></p>
<% end %>

<%= cl_image_tag @cat.photo %>

<h3>About me</h3>
<p><%= @cat.description %></p>
<p><%= @cat.sex.nil? ? 'N/A' : @cat.sex.capitalize %></p>
<p><%= @cat.age.nil? ? 'Unknown age' : "#{@cat.age} years old" %></p>

<h3>Health</h3>
<p><%= @cat.health.nil? || @cat.health.blank? ? 'No information available.' : @cat.health %></p>
