<div class="container my-5">
  <div class="form-container new-colony-form d-flex flex-column justify-content-center m-auto">
    <div class="header-container pt-5 pb-3 text-center">
      <h4>About <%= @cat.name %></h4>
    </div>
    <div class="d-inline-flex m-4 justify-content-end">
      <% if policy(@cat).update? %>
        <p><%= link_to 'Edit', edit_cat_path(@cat), class: "btn btn-primary mr-2" %></p>
      <% end %>
      <% if policy(@cat).destroy? %>
        <p><%= link_to 'Delete', cat_path(@cat), method: :delete, class: "btn btn-danger", data: { confirm: "Permanently remove #{@cat.name}?"} %></p>
      <% end %>
    </div>
  <div class="cat-grid-container px-5 mb-5" style="display:grid; grid-template-columns: 1fr 2fr;">

    <div class="column">
      <%= cl_image_tag @cat.photo, class: "cat-pic" %>
    </div>

    <div class="column ml-5 d-flex flex-column justify-content-center align-items-center">
      <h5 style="border-bottom: solid 2px red;">Bio</h5>
      <p><%= @cat.description %>, <%= @cat.sex.nil? ? 'N/A' : @cat.sex.capitalize %>,  <%= @cat.age.nil? ? 'Unknown age' : "#{@cat.age} years old" %><br>

      Status: <%= @cat.status %><br>
      <% if @cat.colony.nil? %>
        This cat does not belong to any colony yet.
      <% else %>
        Belongs to <%= link_to @cat.colony.name, colony_path(@cat.colony) %></p>
      <% end %>
      <br>

        <h5 style="border-bottom: solid 2px red;">Health</h5>
        <p><%= @cat.health.nil? || @cat.health.blank? ? 'No information available.' : @cat.health %></p>
    </div>
  </div>
</div>
